<!DOCTYPE html>
<html ng-app="dashboardApp">
<head>
  <title>Marfeel Dashboard</title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body ng-controller="dashboardCtrl">

<%= yield %>

</body>
</html>
